img{
	border: 1px solid #DDEAC8;
	width: 200px;
	height: 200px;
}
.list{
	margin-top: 50px;
	width: 100%;
}
.sore{
	width: 1200px;
	margin:  0 auto;

}
.sore h2{
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	color: #FF7031;
	font-family: "楷体";
}
.menu{
	overflow: hidden;
	width: 1200px;
	border: 1px solid coral;
	padding: 11px;
}
.menu li{
	overflow: hidden;
	position: relative;
	float: left;
	margin: 15px 18px;
}
.menu p{
	width: 200px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	color: #323232;
	padding: 5px 0;
}
.menu span{
	color: red;
	line-height: 16px;
	overflow: hidden;
	font-weight: bold;
	font-size: 16px;
}

/* .menu button{
	display: block;
	width: 202px;
	height: 30px;
	line-height: 20px;
	border: none;
	position: absolute;
	bottom: -35px;
	left: 0px;
	border-radius: 2px;
	background: #8DC63F;
	cursor: pointer;
	color: white;
} */
